    /* Main styles */
    
    h1,
    p,
    a,
    div {
        font-family: "roboto", sans-serif;
    }
    
    a,
    a:visited,
    a:hover {
        text-decoration: none;
    }
    /* Page */
    
    .wrapper {
        width: 1282px;
        margin: 0 auto;
    }
    /* Header */
    
    header {
        margin-top: 63px;
        text-align: left;
    }
    
    .logo {
        color: #000;
        font-weight: normal;
        font-size: 80px;
    }
    
    .blue-text {
        color: #4bcaff;
    }
    
    .nav {
        margin-top: 38px;
        background: #35444f;
        height: 72px;
        text-align: center;
    }
    
    .nav-item {
        display: inline-block;
        height: 27px;
        padding: 26px 40px 19px 40px;
        color: #fff;
        font-size: 24px;
        border-left: 1px solid #fff;
        margin-right: -5px;
    }
    
    .nav-item-last {
        display: inline-block;
        height: 27px;
        padding: 26px 40px 19px 40px;
        color: #fff;
        font-size: 24px;
        border-left: 1px solid #fff;
        border-right: 1px solid #fff;
        margin-right: -5px;
    }
    
    .nav-item:hover {
        background: #222f3a;
    }
    
    .nav-item-last:hover {
        background: #222f3a;
    }
    
    .page {
        margin-top: 48px;
    }
    
    .side-menu,
    .content {
        vertical-align: top;
        display: inline-block;
    }
    
    .side-menu {
        border: 1px solid #000;
        width: 344px;
        height: 399px;
        margin-right: 46px;
    }
    
    .side-item {
        display: block;
        padding: 26px 0 26px 44px;
        text-decoration: none;
        color: #495863;
        font-size: 27px;
    }
    
    .side-item:hover {
        padding-left: 60px;
        background-color: #DBDBDB;
        color: #000;
    }
    /* Content */
    
    .content {
        width: 885px;
    }
    
    .img-wrapper {
        border: 1px solid #000;
        margin-bottom: 37px;
    }
    
    .img-wrapper img {
        display: block;
        margin: 75px auto;
        transition: 1s;
    }
    
    .img-wrapper img:hover {
        transform: scale(1.2);
    }
    
    .content-text {
        color: #2C2C2C;
        font-size: 18px;
        text-align: left;
        line-height: 24px;
        margin-bottom: 34px;
    }
    
    footer {
        background: #b4b7b9;
        margin-top: 20px;
        margin-bottom: 30px;
        height: 70px;
    }
    
    .footer-content {
        padding-left: 40px;
    }
    
    .footer-item {
        display: inline-block;
        color: #0C1927;
        margin-top: 20px;
        margin-right: 30px;
        font-size: 28px;
    }
    
    .footer-item:hover {
        border-bottom: #3181a6 2px solid;
        padding-bottom: 5px;
        color: #3181a6;
    }
    
    .copy {
        margin-right: 40px;
        margin-left: 82px;
        display: inline-block;
        font-size: 24px;
        color: #010101
    }